{% extends "base.html"%}

{% block content%}

    <div class="cartContainer">
        <header>
            <h1>
                LIST PRODUCTS
            </h1>
            <div class="iconCart">
                <img src="/static/images/iconCart.jpeg" alt="">
                <div class="totalQuantinty">0</div>
            </div>
        </header>

        <div class="listProducts">
            <div class="item">
                <img src="/static/images/1.jpeg" alt="">
                <h2>Product Name</h2>
                <div class="price">50</div>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
{% end block%}